<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Background:</strong>
  <%= @person.background %>
</p>

<p>
  <strong>Game:</strong>
  <%= @person.game %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @person.genre %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @person.releasedate %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @person.platform %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @person.Developer %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
